/*general styling for all pages*/
body {
 background: url('../images/background4.png') no-repeat center center fixed;
 background-size: cover;
 font-family: "Baloo Thambi 2", sans-serif; 
}

.companylogo {
    padding-top: 75px;
}

.islogo {
    padding-top: 75px;
}

.welcomelogo {
    padding-top: 25px;
}

.btn {
    background-color: #566573;
}

.navigation {
    margin-bottom: 20px;
}

.progressbar {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #566573;
} 

/*the below 3 sections were generated to style the wavy banner using the shape divider app site*/
.custom-shape-divider-top-1593866364 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1593866364 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 206px;
}

.custom-shape-divider-top-1593866364 .shape-fill {
    fill: #DCE6E3;
}


/* local styling page 1*/

.introductiontext {
    text-align: center;
    margin: 15px 25px 15px 25px;
    color: #566573;
}

.page1questions {
    margin-bottom: 15px;
}

.contactnumbertesting {
    margin-left: 15px;
    margin-right: 15px;
}

#p1button {
    background-color: #566573;
    color: white;
    margin-bottom: 20px;
}

.card-img-top {
    max-width: 40%;
    height: auto;
    padding-top: 10px;
}

/*local styling page 2*/

.page2 {
    color: #566573;
    font-size: 1.8rem;
}

.genericstructure {
    border-bottom: 2px solid #566573;
}

.p2intro {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 15px 25px 15px 25px;
    color: #566573;
}

.card-img-top {
    max-width: 40%;
    height: auto;
    padding-top: 10px;
}


/* If the screen size is 900px wide or less, removes the word progress from progress bar */
@media screen and (max-width: 900px) {
  .progresstext {
    display: none;
  }








