/*general styling for all pages*/
body {
 background: url('../images/background4.png') no-repeat center center fixed;
 background-size: cover;
 font-family: "Baloo Thambi 2", sans-serif; 
 color: #566573;
}

.logos {
    padding-top: 75px;
}

.btn {
    background-color: #566573;
}

.navigation {
    margin-bottom: 20px;
}

.progressbar {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #566573;
} 

.card-img-top {
    max-width: 40%;
    height: auto;
    padding-top: 10px;
}

.card {
    margin-top: 30px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.introtext {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 15px 25px 15px 25px;
}

.secondarytext {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 15px 25px 15px 25px;
}

.nextbutton {
    background-color: #566573;
    color: white;
}

.nextbtndiv {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

li {
    list-style-type: none;
}


/*the below 3 sections were generated to style the wavy banner using the shape divider app site*/
.custom-shape-divider-top-1593866364 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1593866364 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 206px;
}

.custom-shape-divider-top-1593866364 .shape-fill {
    fill: #DCE6E3;
}

/* local styling page 1*/


.page1questions {
    margin-bottom: 15px;
}

.contactnumbertesting {
    margin-left: 15px;
    margin-right: 15px;
}



/*local styling page 2*/


.genericstructure {
    border-bottom: 2px solid #566573;
}

/*map styling*/
#map {
    height: 100%;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


/* If the screen size is 900px wide or less, removes the word progress from progress bar */
@media screen and (max-width: 900px) {
  .progresstext {
    display: none;
  }









